# SOURCES
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# GLOBAL
*~
.idea
nbproject/
.svn
.git
.settings
sitemap.xml
sitemap.xml.gz
.DS_Store
.orig
.htpasswd
*.sh
/.buildpath
/.project
/*.sql
/vendor
composer.lock
.modman/

# MAGMI
magmi/conf
magmi/state
# MAGENTO
/lib/atos/
/downloader
/var
/media
/media_*
/.htaccess
/.htaccess.sample
/index.php.sample
/install.php
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/php.ini.sample
/RELEASE_NOTES.txt
/app/etc/local.xml
/errors/local.xml
/errors/local.xml.sample
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
README.md
pear/
php.ini.sample
ressources/

# FRONTEND
.sass-cache/
*.css.map
# WORDPRESS
wp-config.php
bb-config.php
default.gitignore
cforms.js
wp-content/uploads
wp-content/plugins/wp-provalliance-modules/js/uploadifive/FEEDBACK_PATH/upload
wp-content/plugins/wp-provalliance-modules/userfiles
wp-content/logs/system.log
wp-content/plugins/wp-phpmyadmin/
wp-content/advanced-cache.php
wp-content/db-config.ini
wp-content/db.php
wp-content/index.php
wp-content/object-cache.php
wp-content/w3-total-cache-config.php
wp-content/w3tc/
wp-content/cache/
lib/clrz/LuceneSearch/
wp-content/plugins/wp-time-machine/
wp-content/plugins/myeasybackup/
wp-content/wpTimeMachine_options.php
wp-content/plugins/af-extended-live-archive/cache/
wp-content/plugins/better-extended-live-archive/cache/
wp-content/blogs.dir
/test/
/synindex/
/mailings/
/cgi-bin/
/advertising/
wp-content/gallery/
forum/conf_global.php
forum/cache/
perfjs.js
perfcss.css
magmi/.htaccess
flo.js
node_modules/
wp-content/clrz_cache
